[package]
name = "tinman"
version = "0.0.1"
authors = ["Mike Leany <55358344+mikeleany@users.noreply.github.com>"]
license = "MPL-2.0"
edition = "2018"

[dependencies]
clap = "2.33.0"
regex = "1.3.1"
lazy_static = "1.4.0"
log = "0.4.8"
simplelog = "0.7.4"
